.card {
	font-family: "Franklin Gothic";
	font-size: 30px;
	text-align: center;
}

/* FRONT */

.sentence {
	font-size: 30px;
}
.sentence-translation {
	font-size: 20px;
}
.sentence b, .sentence-translation b {
	color: rgb(255, 150, 235);
}

.chinese rt {
	font-family: arial;
}

.front .ruby rt {
	display: none;
}

/* BACK */

hr {
	margin: 10px 0;
}

.back {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.back .right {
	margin: 0 30px;
}

.word .front rt {
	display: none;
}

.word a {
	color: black;
}
.nightMode .word a {
	color: white;
}
.word a:hover {
	cursor: pointer;
	color: rgb(84, 140, 204);
}
.nightMode .word a:hover {
	cursor: pointer;
	color: rgb(190, 220, 255);
}

.chinese {
	font-family: "KaiTi", arial;
}
.ruby {
	font-size: 50px;
}
.ruby-hover rt {
	opacity: 0%;
}
.ruby-hover rb:hover + rt {
	opacity: 100%;
}

.audio-buttons {
	display: flex;
	width: fit-content;
	gap: 10px;
	margin: auto
}

.audio {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.box {
	background-color: rgb(0, 0, 0, 0.5);
	width: fit-content;
	margin: 10px auto;
	border: 3px solid black;
	border-radius: 10px;
	padding: 10px 15px;
	padding-top: 10px;
}

.button {
	font-size: 20px;
	background-color: rgb(0, 30, 50, 0.5);
	padding: 5px 7px;
}
.button:hover {
	background-color: rgb(0, 50, 100, 0.5);
	cursor: pointer;
}

.type {
	margin: 10px;
	font-size: 20px;
	font-family: "KaiTi", arial;
}

.english {
	color: rgba(255, 255, 255, 0.55);
	margin: 10px auto;
	font-size: 25px;
	background-color: rgb(0, 0, 0, 0.5);
	border: 3px solid white;
	border-radius: 999px;
	padding: 15px 30px;
	width: fit-content;
	white-space: nowrap;
}
.english-word {
	transition: 0.2s;
	color: white;
}
.english-word:hover {
	color: yellow;
}

.note {
	padding-top: 5px;
	font-size: 15px;
}

.other-forms {
	margin: 15px;
	font-size: 15px;
}

/* IMAGE */

.images {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	max-width: 530px;
	margin: auto;
}
.image {
	filter: drop-shadow(0 5px 0.5rem rgb(0, 0, 0, 0.8));
	margin: 5px auto;
}
.image img:hover {
	filter: brightness(1.2);
}
.image img {
	border: 3px dashed white;
	height: 250px;
	max-width: 300px;
	object-fit: cover;
	border-radius: 20px;
	cursor: pointer;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.fullscreen img {
	max-width: 90%;
	max-height: 90%;
	border: 3px dashed white;
}